<%- include("partials/header.ejs") %>
  <h1>About Me</h1>
  <img class="profile" src="images/cat.jpeg" alt="cat profile">
  <p>
    My name is Kitty, and I’m an adorable little kitten with a story to tell. Not too long ago, I was wandering the
    busy streets all alone, with no one to care for me. The days were tough as I navigated through the noisy alleys,
    searching for food and a safe place to rest. I was scared and unsure of what the future held.

    One fateful day, as I was sniffing around near a café, I met Alee. She was a kind-hearted student who noticed me and
    saw beyond my dirty fur and frightened eyes. Gently, she scooped me up and took me to her home. It was warm and
    welcoming, a stark contrast to the cold streets I was used to.

    Alee named me Kitty, which means “Little Love” in Chinese, and from that moment on, my life changed forever. She
    made sure I had everything I needed: a cozy bed, delicious food, and lots of toys to play with. Every day, Alee
    showered me with love and affection, and I quickly grew to trust her.

    Now, I wake up each morning to Alee’s gentle voice and loving touch. I spend my days exploring our home, basking in
    sunny spots, and playing with the many toys Alee has given me. My favorite part of the day is curling up in her lap,
    purring contentedly as she strokes my fur.

    I’ve come a long way from the scared, lonely kitten I once was. Thanks to Alee, I now know what it means to be loved
    and cared for. I am Kitty, the Little Love, and I couldn’t be happier in my new home.</p>